*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.text-decoration{
    text-decoration: none !important; 
    color: black;
}

.cursor{
    cursor: pointer;
    color: #47B5FF ;
}


