@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
  color: white;
}
.text-decoration{
    text-decoration: none !important; 
    color: white !important;
}

.cursor{
    cursor: pointer;
    color: white !important ;
}

.navBar{
    background-color: #2660a4;
    color: white!important;
}


