@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
  color: 	aqua;
}

.tabPostagem{
    background-color: #101935 ;
    color: aquamarine; 
    font-weight: bold;  
    text-decoration: none;  
}

