@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
}

.topo{
    margin-top: 20px;
}

.btnCadastroPost{
    background-color:#133c55 !important;
}