@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
}

.cursor{
    cursor: pointer;
    color:#000080;
}


.btnModal{
    background-color:#000080 !important;
    box-shadow: 5px 5px 5px #000080 !important;
    color: white !important;
    margin-bottom: 5px;
}