*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.cursor{
    cursor: pointer;
}

.btnModal{
    background-color:#47B5FF!important;
    color: white !important;
    margin-bottom: 5px;
}