
*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.text-decoration{
    text-decoration: none;
}

.btnAtualizar{
    background-color: #47B5FF  !important;
}

.card-tema{
    background-color: aliceblue;
}
