@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
}

.text-decoration{
    text-decoration: none;
}

.btnAtualizar{
    background-color: #000080  !important;
    box-shadow: 5px 5px 5px #000080 !important;

}


.card-tema{
    background-color:#407899;
}
