@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
}

.box1{
    background-color: #133c55;
    height: 110px;
}

.box2{
    background-color: #133c55;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color:aqua;
    margin-left: 5px;
}

.textos{
    color: aqua;
    text-decoration: none !important;
}

