*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.box1{
    background-color: #4aedc4;
    height: 110px;
}

.box2{
    background-color: #14a37f;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color:white;
}

.textos{
    color: white;
    text-decoration: none !important;
}

