@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    color: white;
  } 

.box {
    background-color: #2660a4;
}

.titulo{
    color: white !important;
    font-size: 20px !important;
    padding-top: 10px;
}

.button{
    background-color:navy !important;
    color: white;
}

.text-decoration{
    text-decoration: none;
}
