*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    background-color: #42C2FF;
}

.titulo{
    color: white !important;
    font-size: 30px !important;
    padding-top: 10px;
}

.button{
    border-color: #47B5FF;
    background-color:#47B5FF !important;
    color:white !important;
}

.postagens{
    background-color:#47B5FF;
}

.text-decoration{
    text-decoration: none;
}