*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    background-color: #4aedc4;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.button{
    border-color: #14a37f;
    background-color:#14a37f !important;
    color:white !important;
}

.postagens{
    background-color:#14a37f;
}

.text-decoration{
    text-decoration: none;
}