@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace !important;
  font-size: 20px;
}

.topo{
    margin-top: 20px;
}

.btnCad{
    background:#000080 !important;
    box-shadow: 5px 5px 5px #000080 !important;

}

.cad-tema{
    font-size: xx-large !important;
    color: #000080 !important;
}
