*{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.topo{
    margin-top: 20px;
}

.btnCad{
    background:#47B5FF !important;
}

.cad-tema{
    font-size: xx-large !important;
    color: #47B5ff !important;
}
