*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.imagem2{
    background-image: url('https://i.imgur.com/9cg3NJA.gif');
    min-height: 100vh;
}

.texto2{
    
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.btnCadastrar{
    background-color: #47B5FF  !important;
}