*{
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

.imagem2{
    background-image: url('https://i.imgur.com/lHzwmxb.gif');
    min-height: 100vh;
}

.texto2{
    
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.btnCadastrar{
    background-color: #14a37f !important;
}